.board{
    width: 100%;
    height: 800px;
    perspective: 50%;
    background-color: rgb(110, 64, 10);
    padding: 15px;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

app-card{
    margin-left: 2%;
}